node_modules
.npmrc

/server/**/*
!/server/server.js
!/server/app.yaml
!/server/package.json
!/server/.gcloudignore

!/server/public
!/server/public/esbuild.wasm
!/server/public/playground.html
!/server/public/react-dom.d.ts
!/server/public/react.d.ts
!/server/public/styled-components.d.ts
